<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roger.spider.spider_questionbank.dao.QuestionDao">
    <insert id="insert" parameterType="com.roger.spider.spider_questionbank.entity.Question" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO
            question(title,description,input,output,sample_input,sample_output,prompt,label)
        VALUES  (#{title},#{description},#{input},#{output},#{sampleInput},#{sampleOutput},#{prompt},#{label})

    </insert>

    <select id="queryAll" resultType="com.roger.spider.spider_questionbank.entity.Question">
        SELECT
               id,title,description,input,output,sample_input,sample_output,prompt,label
        FROM
            question
        LIMIT
            #{offset},#{limit}
    </select>

    <select id="queryById" resultType="com.roger.spider.spider_questionbank.entity.Question">
            SELECT
                id,title,description,input,output,sample_input,sample_output,prompt,label
            FROM
                question
            WHERE
                id=#{id}
    </select>
</mapper>